.page-career {
    padding-bottom: 158px;
    background-color: #03115F;
    background-image: url('../images/content/career-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-career__content {
    padding-top: 110px;
}
.page-career__title {
    margin-bottom: 16px;
    color: $white-grey;
}

.page-career__descr {
    max-width: 577px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 64px;
    color: $text-grey;
}


@media (max-width: 1023px) {
    .page-career {
        padding-bottom: 64px;
    }
    .page-career__content {
        padding-top: 80px;
        padding-left: 0;
    }

    .page-career__descr {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .page-career {
        padding-bottom: 64px;
    }
    .page-career__content {
        padding-top: 80px;
    }

    .page-career__descr {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 80px;
    }
}

