.vacancies {
    padding: 180px 0 89px;
}

.vacancies__title {
    margin-bottom: 24px;
}

.vacancies__descr {
    max-width: 821px;
    margin-bottom: 76px;
    font-size: 20px;
    line-height: 30px;
    color: $small-text;
}

.vacancies .accordion__title::after {
    content: url(../images/content/arrow-right-accor.svg);
    transition: 0.3s;
}

.vacancies .is-open .accordion__title::after {
    content: url(../images/content/arrow-down.svg);
}

.vacancies-accordion__title {
    font-size: 26px;
    line-height: 32px;
    color: $small-text;
}

.vacancies-accordion__title .blocks-labels {
    justify-content: start;
}

.vacancies .accordion__content {
    padding: 40px 120px 113px 122px;
}

.blocks-labels {
    display: flex;
}

.block-label {
    border-radius: 4px;
    padding: 4px 14px;
    background-color: #E6E8EF;
    font-size: 12px;
    line-height: 20px;
    color: #989AA9;
    margin-top: 10px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}
.name-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $dark-blue;
}

.list-description {
    max-width: 946px;

    li {
        font-size: 18px;
        line-height: 22px;
        color: $small-text;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 19px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 4px;
            height: 4px;
            background-color: $blue;
            border-radius: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.skills__labels {
    display: block;
}

.skills,
.location,
.responsibilities,
.requirements,
.conditions {
    margin-bottom: 40px;
}

.vacancies__socials {
    max-width: 200px;
}

.vacancies__social {
    display: flex;
    justify-content: space-between;
    a:hover {
        opacity: .5;
        transition: .3s;
    }
}

@media (max-width: 1023px) {
    .vacancies {
        padding: 80px 0 40px;
    }

    .block-label {
        padding: 4px 6px;
    }
}


@media (max-width: 767px) {
    .vacancies__title {
        margin-bottom: 16px;
    }

    .vacancies__descr {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 53px;
    }

    .vacancies-accordion__title {
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
    }

    .vacancies .accordion__content {
        padding: 0;
    }

    .name-description {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }

    .blocks-labels {
        flex-wrap: wrap;
    }

    .block-label {
        margin-top: 8px;
    }

    .list-description li {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;
        color: #75788D;
    }

    .vacancies .accordion__title::after {
        content: url(../images/content/arrow-right-accor-sm.svg);
        transition: 0.3s;
    }

    .vacancies .is-open .accordion__title::after {
        content: url(../images/content/arrow-down-sm.svg);
    }

    .skills {
        margin-top: 16px;
    }

}